.brand-title {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.25em;
	color: #000;
}

.page-title {
	font-size: 1.75em;
}

#dropdown-menu-content > ul {
	background-color: #ECFFFF;
}